a.inorgreagents:link {
    text-decoration: none;
    color: blue;
    font-weight: bold;
    font-size: 14px;
}
a.linkclass:link, a.catalogueclass:link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 14px;
}
a.linkclass:visited, a.catalogueclass:visited, a.inorgreagents:visited { 
    color: blue;
    text-decoration: none;
}
a.linkclass:hover, a.catalogueclass:hover {
    color: red;
    text-decoration: none;
}
a.inorgreagents:hover {
    color: red;
    text-decoration: none;
}
