div.left-align {
    position: absolute;
    left: 0px;
    height: 60px;
    width: 50%;
}
div.right-align {
    position: absolute;
    right: 0px;
    height: 60px;
    width: 50%;
}

div.element-symbol {
    height: 30px;
}
div.element-name {
}
div.element-arelative {
    height: 15px;
}
div.element-number {
    height: 15px;
}
div.element-config {
    margin-top: 15px;
}
div.element-isotope-masses {
}





html {
    height: 60px;
    width: 100px;
}
body.element {
    position: relative;
    height: 60px;
    width: 100px;
    margin: 0;
}
html * {
    font-size: 6px;
}
div {
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
}
div.element-symbol a:link, div.element-symbol a:visited, div.element-symbol a:hover {
    font-size: 22px;
}
span.h1 {
}
span.h2 {
    font-size: 16px;
}
span.p {
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    font-weight: normal;
}

sup, sub {font-size: 0.5;}
sup {top: -0.1em;}
sub {bottom: -0.2em;}
