html {
    height: 60px;
    width: 100px;
}
body.element {
    height: 60px;
    width: 100px;
    margin: 0;
}

div.element-symbol-number-config-container {
    position: relative;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    height: 30px;
    width: 100px;
}
div.element-symbol {
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    height: inherit;
    width: 30px;
}
div.element-symbol a:link, div.element-symbol a:visited, div.element-symbol a:hover {
    font-size: 22px;
}
div.element-number-config-box {
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    height: inherit;
    width: 70px;
}
div.element-number {
    position: absolute;
    top: -3px;
    left: 3px;
    bottom: 2px;
    height: 15px;
}
div.element-config {
    position: absolute;
    top: 20px;
    left: 2px;
    bottom: 2px;
    height: 15px;
}


div.element-name-isotope-box {
    position: relative;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    height: 15px;
    width: inherit;
}
div.element-name {
    position: absolute;
    top: 2px;
    right: 0px;
    bottom: 2px;
    height: inherit;
    width: 40px;
}
div.element-isotope-masses {
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    height: inherit;
    width: 60px;
}


div.element-arelative {
    position: relative;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    height: 15px;
    width: inherit;
}



div.element-number *, div.elememt-config *, div.element-isotope-masses * {
    text-align: left;
}
div.element-symbol *, div.element-name *, div.element-arelative * {
    text-align: right;
}





html *{
    font-size: 40%;
}
sup, sub {
    font-size: 0.5;
    font-weight: bold;
}
sup {
    top: -0.1em;
}
sub {
    bottom: -0.2em;
}
span.h1 {
    font-size: 16px;
}
span.h1, span.p {
    margin: 1px, 1px, 1px, 1px;
    padding: 1px, 1px, 1px, 1px;
}