.reagents {
    font-size: 12px;
}
.trboldcenter, .formula {
    font-weight: bold;
    text-align: center;
}
.inorgreagents {
    font-size: 14px;
    text-align: center;
}
.inorgreagents_bold {
    font-weight: bold;
}