.menu {
    margin-left: 0px;
}
.list {
    margin: 3px, 3px, 3px, 3px;
    font-size: 14px;
}
.news {
    margin-left: -5px;
    margin-bottom: 2px;
    font-weight: none;
    font-size: 14px;
}

.img {
    border: 3px outset grey;
    margin: 20px, 20px, 20px, 20px;
}
.img:hover {
    border: 3px outset blue;
}
