<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../../../../styles/reset.css"/>
        <link rel="stylesheet" type="text/css" href="../../../../styles/styles.css"/>
        <link rel="stylesheet" type="text/css" href="styles/group-b.css"/>
    </head>
    <body class="element">
        <div class="element-symbol-number-config-container">
            <div class="element-symbol">
                <a class="linkclass" href="../Cr.html" title="Хром">Cr</a>
            </div>
            <div class="element-number-config-box">
                <div class="element-number">
                    <span class="h1">24</span>
                </div>
                <div class="element-config">
                    <span class="p">[Ar]3d<sup>5</sup>4s<sup>1</sup></span>
                </div>
            </div>
        </div>
        
        <div class="clearfix"></div>
        
        <div class="element-name-isotope-box">
            <div class="element-name">
                <span class="p">Хром</span>
            </div>
            <div class="element-isotope-masses">
                <span class="p"><u>52</u>-54</span>
            </div>
        </div>
        
        <div class="clearfix"></div>
        
        <div class="element-arelative">
            <span class="p">Ar=51,996</span>
        </div>
    </body>
</html>
