header {
    position: relative;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    height: 100px;
    width: 100%;

    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
div.header_container {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    height: inherit;
    
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
div.header {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 40px;
    
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
div.header_big {
    font-size: 42px;
    margin-left: 10px;
    margin: 5px, 5px, 5px, 5px;
}

div.search_box {
    position: relative;
    float: right;
    width: 350px;
    height: 22px;
    vertical-align: center;
    margin-right: 3px;
}
div.search_container {
    position: absolute;
    background: transparent;
    vertical-align: center;
    white-space: nowrap;
    width: 300px;
}
div.search_container input#search {
    font-family: "Times New Roman", Georgia, serif;
    font-size: 10pt;
    font-weight: bold;
    width: 22px;
    height: 22px;
    background: blue;
    border: none;
    float: right;
    padding-right: 25px;

    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;

    -webkit-transition: width 1.5s ease-out;
    -moz-transition:    width 1.5s ease-out;
    -ms-transition:     width 1.5s ease-out;
    -o-transition:      width 1.5s ease-out;
    transition:         width 1.5s ease-out;
}
div.search_container:hover input#search {width: 300px;}
div.search_container .icon .search_icon {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 3;
    color: #4f5b66;
}
div.search_container input#search:placeholder                   {color: lightblue ;}
div.search_container input#search::-webkit-input-placeholder {color: lightblue ;}
div.search_container input#search:-moz-placeholder           {color: lightblue ;}  /* Firefox 18- */
div.search_container input#search::-moz-placeholder          {color: lightblue ;}  /* Firefox 19+ */
div.search_container input#search:-ms-input-placeholder      {color: lightblue ;}
div.search_container input#search:hover, div.search_container input#search:focus, div.search_container input#search:active {
    outline: none;
    width: 300px;
    background: #ffffff;
}



div.menu_content_container {
    position: relative;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    min-height: 750px;
    width: 100%;
    
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

nav {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    min-height: inherit;
    width: 280px;
    
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
div.menu {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

article {
    position: absolute;
    margin-left: 280px;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    min-height: inherit;
    width: auto;
    
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
div.content {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
iframe#content {
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    min-height: 100%;
    width: 100%;
}



footer {
    position: relative;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    height: 100px;
    width: 100%;
    
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
div.footer_container {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    height: inherit;
    
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
div.footer {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
div.footer_images {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 250px;
}
