html {
    font-family: "Times New Roman", Georgia, serif;
}
body {
    height: 100%;
    width: 100%;
    margin: 0;
}
blockquote {
    margin-top: 15px;
    margin-left: 65px;
    margin-right: 65px;
    margin-bottom: 15px;
    font-size: 11px;
    font-style: italic;
    background-color: #99D9EA;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}
h1 {
    margin-top: 10px;
    margin-left: 15px;
    text-align: left;
    font-style: bold;
}
h2 {
    text-align: center;
    font-size: 22px;
    font-style: bold;
}
h3 {
    text-align: center;
    font-size: 18px;
    font-style: bold;
}
h4 {
    text-align: left;
    font-size: 15px;
    font-style: bold;
}
iframe {
    border: none;
    display: block;
}
li.menu ul.menu {
    color: black;
    font-weight: bold;
    font-size: 14px;
}
p {
    margin: 10px;
    font-size: 14px;
}
span {
    font-weight: bold;
}
strong {
    font-size: inherit;
    font-weight: bold;
    text-decoration: underline;
}

.linkclass:link {
    color: black;
    font-weight: bold;
    font-size: 14px;
}
.linkclass:visited { 
    color: blue;
}
.linkclass:hover {
    color: red;
}
.img {
    border: 3px outset grey;
    margin: 20px, 20px, 20px, 20px;
}
.img:hover {
    border: 3px outset blue;
}





.left-align {
    text-align: left;
}
.right-align {
    text-align: right;
}

.bold {
    font-weight: bold;
}

.display_none {display: none;}

.bgcolor_white {background: white;}
.bgcolor_red {background: #FA5858;}
.bgcolor_orange {background: #FE9A2E;}
.bgcolor_yellow {background: yellow;}
.bgcolor_green {background: #67F564;}
.bgcolor_lightgreen {background: lightgreen;}
.bgcolor_blue {background: #2F80FF;}
.bgcolor_lightblue {background: #00A2E8;}
.bgcolor_morelightblue {background: #99D9EA;}
