html {
    font-family: "Times New Roman", sans-serif;
    height: 100%;
    display: block;
}
h1 {
    margin-top: 10px;
    margin-left: 15px;
    text-align: left;
    font-style: bold;
}
h2 {
    text-align: center;
    font-size: 22px;
    font-style: bold;
}
h3 {
    text-align: center;
    font-size: 18px;
    font-style: bold;
}
h4 {
    text-align: left;
    font-size: 15px;
    font-style: bold;
}
p {
    font-size: 14px;
}
iframe {
    border: none;
    z-index: 100;
}

a.inorgreagents:link {
    text-decoration: none;
    color: blue;
    font-weight: bold;
    font-size: 14px;
}
a.linkclass:link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 14px;
}
a.linkclass:visited, a.inorgreagents:visited { 
    color: blue;
    text-decoration: none;
}
a.linkclass:hover, a.inorgreagents:hover {
    color: red;
    text-decoration: none;
}
a.solubility:link, a.solubility:visited, a.solubility:hover {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.img {
    border: 3px outset grey;
    margin: 20px, 20px, 20px, 20px;
}
.img:hover {
    border: 3px outset blue;
}

.reagents {
    font-size: 12px;
}
.trboldcenter, .formula {
    font-weight: bold;
    text-align: center;
}